/* Vars */
:root {
	--main-font: 'Montserrat', sans-serif;

	--color-dark: #000;
	--color-light: #fff;
	--color-text: #ccc;

	--color-accent-1: #52cbea;
	--color-accent-2: gold;
	--color-accent-3: #ee2557;

	--color-bg-dark-1: #161a24;
	--color-bg-dark-2: #1d222d;
	--color-border: #2a2f3a;
}

/* Base */
body {
	min-width: 320px;
	margin: 0;
	font-family: var(--main-font);
	color: var(--color-light);
	background: var(--color-dark);
}

/* Common */
.container {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 50px;
}

.section {
	padding: 20px 0;
}

.section--dark {
	position: relative;
	padding: 70px 0;
	color: var(--color-light);
	background: var(--color-dark);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.section--gradient-right {
	color: var(--color-light);
	background: linear-gradient(-90deg, #15070b 0%, #1a0f1f 40%, #0d1823 100%);
}

.section--gradient-left {
	border-bottom: 1px solid var(--color-border);
	color: var(--color-light);
	background: linear-gradient(90deg, #210a12 0%, #1a0f1f 40%, #0d1823 100%);
}

.btn {
	display: inline-flex;
	justify-content: center;
	padding: 10px 16px;
	align-items: center;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s ease;
}

.btn--yellow {
	padding: 15px 20px;
	margin-top: 20px;
	font-size: 18px;
	letter-spacing: 1.2px;
	color: var(--color-dark);
	text-transform: uppercase;
	background: var(--color-accent-2);
	box-shadow: 0 0 15px rgba(255, 216, 0, 0.6);
}

.btn--pink {
	color: var(--color-light);
	background: var(--color-accent-3);
}

.btn--yellow:hover {
	background-color: goldenrod;
}

.btn--yellow:active,
.btn--pink:active {
	transform: scale(0.98);
}

.btn--pink:hover {
	background-color: #c93259;
}

.title {
	font-size: 30px;
	font-weight: 700;
}

/* Wrapper */
.wrapper {
	display: flex;
	flex-direction: column;
	color: var(--color-light);
	background: var(--color-dark);
}

/* Header */
.header.container {
	width: 100%;
	max-width: 1400px;
	padding: 20px;
}

.header__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header__inner > h1 {
	font-size: 16px;
	font-weight: 700;
}

.header-nav__list {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px;
	font-size: 16px;
}

.burger {
	display: none;
}

.burger {
	display: none;
	flex-direction: column;
	width: 30px;
	height: 22px;
	justify-content: space-between;
	cursor: pointer;
	z-index: 10000;
}

.burger span {
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: var(--color-light);
}

.header-nav__item:hover {
	color: var(--color-text);
}

/* section hero */
.section--img {
	position: relative;
	height: 550px;
	background-size: cover;
	background-image: url('../images/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

.section--img::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.hero {
	position: relative;
	z-index: 2;
}

.hero__title {
	margin: 50px 0;
	font-size: 48px;
	font-weight: 700;
	color: var(--color-light);
}

.hero__subtitle {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 1.6;
	color: var(--color-light);
}

.hero__text {
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.6;
	color: var(--color-light);
}

.hero__text > strong {
	color: var(--color-accent-1);
}

.hero__link {
	font-weight: 600;
	color: var(--color-accent-1);
	text-decoration: none;
}

/* Concerts*/
.concerts__title {
	padding: 20px 25px;
	border-bottom: 1px solid var(--color-border);
	font-size: 28px;
	font-weight: 700;
	color: var(--color-light);
	background: var(--color-bg-dark-2);
}

.concerts__table {
	border-radius: 12px;
	background: var(--color-bg-dark-1);
	overflow: hidden;
}

.concerts__row {
	display: grid;
	grid-template-columns: 1fr 180px 230px 230px;
	padding: 20px 25px;
	border-bottom: 1px solid var(--color-border);
	color: var(--color-light);
}

.concerts__row--head {
	color: var(--color-text);
	background: var(--color-bg-dark-2);
	font-weight: 700;
}

.concerts__row:last-child {
	border-bottom: none;
}

/* Members */
.members__container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	text-align: center;
}

.members__title {
	font-size: 30px;
	font-weight: 700;
}

.members__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 50px;
}

.member__name {
	margin: 10px;
	color: var(--color-text);
	text-align: left;
}

.members {
	border: 1px solid var(--color-border);
	border-radius: 8px;
	background: var(--color-bg-dark-2);
}

.member__image {
	width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 300px;
	border-radius: 8px;
}

/* History*/
.history__title {
	margin-top: 30px;
}

.history__item {
	margin-top: 15px;
	font-size: 16px;
	line-height: 1.5;
}

.history__image {
	max-width: 430px;
	max-height: 180px;
	width: 100%;
	margin: 0 0 15px 15px;
	float: right;
}

/* Contacts*/
.contacts__container {
	padding: 40px;
}

.contacts__title {
	margin-bottom: 5px;
	text-align: center;
}

.contacts__subtitle {
	margin-bottom: 40px;
	font-size: 18px;
	text-align: center;
	color: var(--color-text);
}

.contact__inner {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

/*  Form */
.contact-form {
	flex: 1 1 350px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-self: flex-start;
	gap: 20px 15px;
}

.input-group {
	margin: 0;
}

.input-group.full-width {
	grid-column: 1 / 3;
	margin-top: 0;
}

.input-label {
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 600;
	color: var(--color-text);
}

.input-field {
	width: 100%;
	padding: 15px;
	border: 1px solid var(--color-border);
	border-radius: 10px;
	font-size: 14px;
	color: var(--color-light);
	background-color: var(--color-bg-dark-1);
	transition: border-color 0.3s;
}

.input-field:focus {
	border-color: #6e6d6d;
	outline: none;
}

.textarea-field {
	width: 100%;
	min-height: 80px;
	max-height: 200px;
	padding: 15px;
	border: 1px solid var(--color-border);
	border-radius: 10px;
	font-size: 16px;
	color: #ddd;
	background-color: var(--color-bg-dark-1);
	transition: border-color 0.3s;
	resize: vertical;
}

.textarea-field:focus {
	border-color: #6e6d6d;
	outline: none;
}

.textarea-field::placeholder {
	color: #6e6d6d;
}

.btn--pink.submit {
	width: 180px;
	height: 50px;
	margin-top: 0;
	margin-bottom: 0;
}

/*  Map */
.location-block {
	flex: 1 1 350px;
	padding: 25px;
	border-radius: 8px;
	background-color: var(--color-bg-dark-2);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.location-block h2 {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 600;
	color: var(--color-light);
}

.map-container {
	width: 100%;
	height: 300px;
	border-radius: 8px;
	overflow: hidden;
}

.map-container iframe {
	display: block;
}

/* Footer */
.footer.container {
	padding-bottom: 20px;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	font-size: 16px;
	color: var(--color-text);
	background-color: var(--color-dark);
}

.social-links {
	display: flex;
	gap: 15px;
}

.social-links a {
	margin-left: 20px;
	color: var(--color-text);
	text-decoration: none;
	transition: color 0.3s;
}

.social-links a:hover {
	color: var(--accent-color);
}

.footer__contacts {
	margin: 30px 0;
}

/*  Pop-up  */
.popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1000;
}

.popup-overlay.active {
	display: flex;
}

.popup-content {
	position: relative;
	max-width: 400px;
	width: 90%;
	padding: 40px;
	border-radius: 10px;
	text-align: center;
	color: var(--color-text);
	background: var(--color-border);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	animation: popupFade 0.3s ease;
}

@keyframes popupFade {
	from {
		transform: scale(0.8);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 30px;
	cursor: pointer;
	color: var(--placeholder-color);
	line-height: 1;
}

/* scroll top*/
.scroll-to-top-btn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background-color: var(--color-accent-3);
	color: var(--color-light);
	border: none;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	opacity: 0.8;
	transition: opacity 0.3s, background-color 0.3s;
	z-index: 1000;
}

.scroll-to-top-btn:hover {
	opacity: 1;
	background-color: #e54c7f;
}
